h1{
    margin-top: 70px;
    color: red;
}
header{
    height: 50px;
}
h2{
    color:rgb(114, 114, 49);
    margin-top: 50px;
    
}
ul{
    list-style-position: inside;
}

.gg{
    margin-left: 115px;
}
body{
    background-color: #E9ECEF ;
}
.jumbotron {
    
    
    display: flex;
    justify-content: center;
   
    
  }